.resume{
	@include imageCover('../images/circle_bg.png');
	@include section-spacing();
	
	.title{
		@include center-content();
		color: $c-color;
		font-family: $primary-font;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 20px;
		font-size: 2.4rem;
		position: relative;
		&::after,
		&::before{
			content: "";
			position: absolute;
			height: 2px;
			bottom: -15px;
			left: 0;
		}
		&::after{
			background-color: $c-color;
			width: 55px;
			left: 45px;
		}
		&::before{
			background-color: #eee;	
			width: 150px;
		}
	}

	.leads{
		@include center-content();
		text-align: center;
		font-family: $primary-font;
		font-weight: 100;
		font-size: 1rem;
		width: 70%;
		margin-top: 30px;
	}

}

.resume{
	.resume-list{
		@include center-content();
		width: 60%;
		margin-top: 30px;
		height: 600px;
		overflow-y: scroll;
		.list-item{
			.title-small{
				background-color: $c-color;
				color: $secondary-color;
				margin-left: auto;
				margin-right: auto;
				padding: 8px 15px;
				font-size: 1.3rem;
				font-family: $primary-font;
				font-weight: 100;
				border-radius: 5px;
			}
		}
	}
}


.resume-list::-webkit-scrollbar{
	background-color: #eee;
	width: 6px;
	border-radius: 5px;
}

.resume-list::-webkit-scrollbar-thumb{
	background-color: $c-color;
	-webkit-border-radius: 1ex;
}













