.resume{
	@include imageCover('../images/circle_bg.png');
	@include section-spacing();
}

.resume{
	.resume-list{
		@include center-content();
		@include section-spacing(20px);
		width: 70%;
		margin-top: 30px;
		height: 600px;
		overflow-y: scroll;
		.list-item{
			.title-small{
				@include center-text();
				background-color: $c-color;
				color: $secondary-color;
				padding: 8px 15px;
				font-size: 1.1rem;
				font-family: $primary-font;
				font-weight: 100;
				border-radius: 5px;
				margin-bottom: 20px;
			}
		}
	}
}

.resume .resume-list{
	.em-list{
		list-style: none;
		padding-left: 0;
		.em-title{
			@include center-text();
			margin-bottom: 50px;
			margin-top: 20px;
			color: $c-color;
			font-family: $primary-font;
			font-weight: 100;
			font-size: 1.18rem;
			letter-spacing: 1px;
			position: relative;
			&::after,
			&::before{
				content: "";
				position: absolute;
			}
			&::after{
				height: 20px;
				width: 20px;
				bottom: -29px;
				left: 43px;
				border: 1px solid #eee;
				border-top: none;
				border-left: none;
				background-color: $secondary-color;
				transform: rotate(45deg);
			}
			&::before{
				background-color: #eee;
				height: 1px;
				width: 220px;
				bottom: -19px;
				left: -52px;
			}
		}
		.em-position,
		.em-link,
		.em-desc{
			@include center-text();
			font-family: $primary-font;
			font-weight: 100;
		}
		.em-position{
			font-size: 1.4rem;
		}
		.em-link{
			font-size: 1.1rem;
			color: $blue;
			text-decoration: none;
			transition: opacity 0.5s;
			&:hover{
				opacity: 0.7;
			}
		}
		.em-desc{
			font-size: 0.95rem;
			padding: 20px;
			text-align: center;
		}
	}

	.skills-list{
		flex-wrap: wrap;
		margin-top: 20px;
		.skill-item{
			text-align: center;
			margin-right: 20px;
			margin-bottom: 20px;
			padding: 5px 20px;
			list-style: none;
			color: $secondary-color;
			font-family: $primary-font;
			font-weight: 100;
			border-radius: 4px;
		}		
	}
}


.resume-list::-webkit-scrollbar{
	background-color: #eee;
	width: 6px;
	border-radius: 5px;
}

.resume-list::-webkit-scrollbar-thumb{
	background-color: $c-color;
	-webkit-border-radius: 1ex;
}













