@font-face {
  font-family: 'sand';
  src: url('../fonts/quicksand.otf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');


$primary-color: #20272F;
$light-color: #2b323a;
$secondary-color: #FFFFFF;
// $c-color: #FF5A5F ;
$c-color: #ed5565 ;

$primary-font: "Roboto", sans-serif;
$secondary-font: "sand", sans-serif;



