@font-face {
  font-family: 'sand';
  src: url('../fonts/quicksand.otf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');


$primary-color: #20272F;
$light-color: #2b323a;
$lighter: #434a54;
$secondary-color: #FFFFFF;
$c-color: #ed5565 ;
$blue: #5490ff ;

$c-1: #a0d468 ;
$c-2: #5d9cec ;
$c-3: #fc6e51 ;
$c-4: #ac92ec ;
$c-5: #656d78 ;
$c-6: #FF5A5F ;
$c-7: #93E0DC ;
$c-8: #008489 ;





$primary-font: "Roboto", sans-serif;
$secondary-font: "sand", sans-serif;



